* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}
:root {
  --font-weight: bold;
  --color: #28639f;
  --allign: center;
}
.container-fluid .row {
  margin-top: 4%;
}

.col-lg-4 .table {
  text-align: var(--allign);
  margin-left: 30%;
}
.col-lg-4 h1 {
  font-size: 70pt;
  color: var(--color);
  margin-top: 3%;
  text-align: left;
}
.col-lg-8 p {
  margin-right: 10%;
  margin-left: 20%;
}
.matrix-scroll-box {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Keeps the grid items in a single horizontal line */
  padding: 20px;
  background: #f1f1f1;
  margin-top: 4%;
}

.matrix-title {
  text-align: center;
  margin-bottom: 20px;
  background: #f1f1f1;
}

.matrix-grid {
  display: flex; /* Changes grid to flexbox for horizontal layout */
  gap: 20px;
}

.matrix-container {
  display: inline-block; /* Ensures cells are lined up inline for horizontal scrolling */
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 220px; /* Sets a minimum width for each cell */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.matrix-container p {
  font-style: oblique;
  font-size: small;
}
.matrix-container h6 a {
  color: black;
  text-decoration: none;
}

.matrix-container a:hover {
  text-decoration: underline;
}
.techniques-table {
  border-collapse: separate;
  border-spacing: 0 13px; /* Adjust the second value (10px) to set the vertical gap */
}
.techniques-table td {
  border-bottom: 3px solid #ddd;
}
