/* General Navbar Styling */
.navbar {
  background-color: #28639f;
  padding: 12px 30px; /* Add extra padding for a more spacious layout */
  font-size: 1rem;
  height: 70px; /* Increase height for better proportions */
}

/* Logo Styling */
.navbar-logo {
  height: 100%; /* Adjust to fit the full navbar height */
  width: auto;
  max-height: 60px; /* Ensure it fits well within the navbar */
  margin-right: 30px; /* Add space between the logo and links */
}

/* Flexbox to space out the nav items */
.navbar .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px; /* Increased space between groups of elements */
}

/* Navbar Brand Styling */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.6rem;  /* Slightly larger font for the brand */
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 40px; /* More space after the logo */
}


.navbar-nav .nav-link {
  color: white;
  margin-left: 20px; 
  padding: 12px 10px; 
  font-size: 1.1rem; 
  white-space: nowrap; 
  font-family: Arial, Helvetica, sans-serif;
}


.navbar-nav .nav-link.active {
  color: white !important;
}


.form-control {
  height: 35px;
  width: 220px; 
  margin-left: 40px; }

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288%2C 8%2C 8%2C 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    margin-left: 15px;
    font-size: 0.9rem; 
  }

  .form-control {
    width: 180px; 
  }
}
